<!DOCTYPE html>
<html lang="en" class="container-fluid">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    @await RenderSectionAsync("Styles", required: false)
    <style>
        .container-fluid {
            padding: 0 !important;
        }

        header * {
            background-color: inherit;
        }
    </style>
</head>
<body class="container-fluid">
    <header class="sticky-top container-fluid p-0" style="height: 100px; background-color: #212121">
        <a asp-controller="QuestRoom" asp-action="Index" class="w-100 h-100">
            <img src="~/media/QuestRoom/Logo.png" alt="logo" class="h-100 ms-5" style="width: 120px" />
        </a>
    </header>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>